In [1]:
# Import the dependencies.

import pandas as pd

import gmaps

import requests

# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather-data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sitka,US,2022-04-21 20:51:55,57.0531,-135.3300,48.09,61,20,4.61
1,1,Hilo,US,2022-04-21 20:48:44,19.7297,-155.0900,91.27,69,75,5.99
2,2,Avarua,CK,2022-04-21 20:50:12,-21.2078,-159.7750,78.85,61,40,12.66
3,3,Lebu,CL,2022-04-21 20:51:55,-37.6167,-73.6500,55.11,98,100,7.83
4,4,Victoria,HK,2022-04-21 20:51:12,22.2855,114.1577,75.38,88,55,4.00

In [3]:
# Get data types.

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness.

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness.

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Avarua,CK,2022-04-21 20:50:12,-21.2078,-159.7750,78.85,61,40,12.66
4,4,Victoria,HK,2022-04-21 20:51:12,22.2855,114.1577,75.38,88,55,4.00
13,13,Miramar,US,2022-04-21 20:51:58,25.9873,-80.2323,82.00,63,75,18.41
15,15,San Patricio,US,2022-04-21 20:51:59,28.0170,-97.5169,86.09,55,28,19.80
26,26,Saint-Philippe,RE,2022-04-21 20:52:01,-21.3585,55.7679,75.22,88,83,11.05
30,30,Atuona,PF,2022-04-21 20:52:02,-9.8000,-139.0333,78.98,81,14,16.33
34,34,Mahasamund,IN,2022-04-21 20:52:04,21.1000,82.1000,88.97,34,79,11.77
37,37,Jacobina,BR,2022-04-21 20:52:05,-11.1806,-40.5183,76.39,69,100,7.47
38,38,Tual,ID,2022-04-21 20:52:05,-5.6667,132.7500,83.21,73,100,3.78
39,39,Kapaa,US,2022-04-21 20:52:05,22.0752,-159.3190,76.12,83,75,14.97

In [23]:
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2           Avarua      CK     78.85 -21.2078 -159.7750
4         Victoria      HK     75.38  22.2855  114.1577
13         Miramar      US     82.00  25.9873  -80.2323
15    San Patricio      US     86.09  28.0170  -97.5169
26  Saint-Philippe      RE     75.22 -21.3585   55.7679
30          Atuona      PF     78.98  -9.8000 -139.0333
34      Mahasamund      IN     88.97  21.1000   82.1000
37        Jacobina      BR     76.39 -11.1806  -40.5183
38            Tual      ID     83.21  -5.6667  132.7500
39           Kapaa      US     76.12  22.0752 -159.3190

In [25]:
# Set parameters to search for a hotel.

params = {
    
    "radius": 5000,
    
    "type": "lodging",
    
    "key": g_key
}

# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
4,Victoria,HK,75.38,22.2855,114.1577,Mini Hotel Central
13,Miramar,US,82.00,25.9873,-80.2323,Stadium Hotel
15,San Patricio,US,86.09,28.0170,-97.5169,"Motel 6 Sinton, TX"
26,Saint-Philippe,RE,75.22,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
30,Atuona,PF,78.98,-9.8000,-139.0333,Villa Enata
34,Mahasamund,IN,88.97,21.1000,82.1000,mauhari bhantha mahasamund
37,Jacobina,BR,76.39,-11.1806,-40.5183,HOSTEL JACOBINA
38,Tual,ID,83.21,-5.6667,132.7500,Grand Vilia Hotel
39,Kapaa,US,76.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [27]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))